/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide {
    /* display: none; */
}

img {
    width: 100%;
    border-radius: 10px;
}

/* Animation */
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.fade {
    animation: fade 1.5s ease-in-out;
}

/* Slideshow Functionality */
@keyframes slide {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

.slideshow-container .slide:nth-child(1) {
    animation: slide 12s infinite;
}

.slideshow-container .slide:nth-child(2) {
    animation: slide 12s infinite 4s;
}

.slideshow-container .slide:nth-child(3) {
    animation: slide 12s infinite 8s;
}
